In [9]:
%pip install pandas

Requirement already satisfied: pandas in /Users/robrohan/miniconda3/envs/spikes/lib/python3.11/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in /Users/robrohan/miniconda3/envs/spikes/lib/python3.11/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/robrohan/miniconda3/envs/spikes/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/robrohan/miniconda3/envs/spikes/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/robrohan/miniconda3/envs/spikes/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/robrohan/miniconda3/envs/spikes/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

In [11]:
vr_df = pd.read_csv("vit_result_ab.csv")
rn_df = pd.read_csv("resnet8_result_ab.csv")

In [12]:
display(vr_df.head())
display(rn_df.head())

,Unnamed: 0,corruption,severity,loss_a,loss_b,accuracy_a,accuracy_b
0,0,18.0,1.0,0.661901,0.433177,1.0,1.0
1,1,18.0,1.0,0.024893,0.502918,1.0,1.0
2,2,18.0,1.0,0.384312,1.245447,1.0,0.0
3,3,18.0,1.0,0.381636,0.486834,1.0,1.0
4,4,18.0,1.0,0.089019,0.050905,1.0,1.0

,Unnamed: 0,corruption,severity,loss_a,loss_b,accuracy_a,accuracy_b
0,0,18.0,1.0,0.241772,0.133853,1.0,1.0
1,1,18.0,1.0,0.693461,0.727851,1.0,0.0
2,2,18.0,1.0,0.359320,0.893730,1.0,1.0
3,3,18.0,1.0,0.001643,0.577411,1.0,1.0
4,4,18.0,1.0,0.006673,0.465128,1.0,1.0