In [2]:
%pip install pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (3.0.1)
Requirement already satisfied: numpy in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (2.4.2)
Requirement already satisfied: matplotlib in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (3.10.8)
Requirement already satisfied: seaborn in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: scikit-learn in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (1.8.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (12.1.1)
Requirement already satisfied: pyparsing>=3 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: scipy>=1.10.0 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /Users/robrohan/miniconda3/envs/comp809/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
df = pd.read_csv("test_data/titanic.csv")

df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
589,590,0,3,"Murdlin, Mr. Joseph",male,NaN,0,0,A./5. 3235,8.0500,NaN,S
370,371,1,1,"Harder, Mr. George Achilles",male,25.0,1,0,11765,55.4417,E50,C
673,674,1,2,"Wilhelms, Mr. Charles",male,31.0,0,0,244270,13.0000,NaN,S
117,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.0,1,0,PC 17485,56.9292,A20,C
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,NaN,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
580,581,1,2,"Christy, Miss. Julie Rachel",female,25.0,1,1,237789,30.0000,NaN,S
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S